.home-header h1 {
    color: #282828c8;
    font-size: 3em;
    text-align: center;
    margin: 20 20px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2px 2px !important;
    background: #F6F6F6;
    background: rgba(246, 246, 246, 0.75)
}

.main-name {
    text-align: center;
    color: #282828c8;
}

.Typewriter__wrapper {
    font-size: 2.8em;
    color: #282828c8;
    font-weight: 600;
    text-align: center;
    margin: 20 20px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2px 2px !important;
    background: rgba(246, 246, 246, 0.75)

}
.Typewriter__cursor {
    font-size: 2.8em;
    color: #282828c8;
    text-align: center;
    margin: 20 20px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2px 2px !important;
    background: rgba(246, 246, 246, 0.75)
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card {
    margin-left: auto;
    margin-right: auto;
}

.card-header .card-body {
    margin: auto;
    display: flex;
    justify-content: center;

}

.big-date {
    font-size: 30px; /* Adjust the font size as needed */
  }

.big-tags {
    font-size: 18px; /* Adjust the font size as needed */
  }